@font-face {
    font-family: "treble";
    src: url("/locasix/static/fonts/Heading-Pro-Treble-Light.ttf");
}
@font-face {
    font-family: "treble";
    src: url("/locasix/static/fonts/Heading-Pro-Treble-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "treble";
    src: url("/locasix/static/fonts/Heading-Pro-Treble-Light-Italic.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "treble";
    src: url("/locasix/static/fonts/Heading-Pro-Treble-Bold-Italic.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}


.font-treble {
    font-family: 'treble';
}

.font-calibri {
    font-family: 'Calibri';
}

.font-wide {
    font-family: 'wide';
}

table { border-collapse:collapse; }
table thead th { border-bottom: 1px solid #000; padding-bottom: 15px;}

tr.space_above>td {
    padding-top: 1em;
}

span.block {
    display:block;
}

span.small-italic {
    font-size: 10px;
    font-style: italic;
}