@font-face {
    font-family: "treble";
    src: url("/locasix/static/fonts/Heading-Pro-Treble-Light.ttf");
}
@font-face {
    font-family: "treble";
    src: url("/locasix/static/fonts/Heading-Pro-Treble-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "treble";
    src: url("/locasix/static/fonts/Heading-Pro-Treble-Light-Italic.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "treble";
    src: url("/locasix/static/fonts/Heading-Pro-Treble-Bold-Italic.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}

.font-treble {
    font-family: "treble" !important;
}

.font-calibri {
    font-family: "Calibri";
}

.font-wide {
    font-family: "wide";
}

table.table_locasix {
    border-collapse: collapse !important;
}
table.table_locasix tr th {
    border-bottom: 1px solid #000 !important;
    padding-bottom: 15px !important;
}

tr.space_above > td {
    padding-top: 1em;
}

span.block {
    display: block;
}

.small-italic {
    font-size: 10px;
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}

.reduction {
    color: rgb(199, 55, 58);
    font-weight: bold;
}

div.appendix {
    height: 1085px;
    width: 870px;
    position: relative;
    page-break-before: always;
    margin-left: 10px;
}

div.appendix img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 1085px;
    max-width: 850px;
}

.appendix-title {
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
}

.cgv {
    page-break-before: always;
    margin: 0px !important;
    font-size: 8px;
    line-height: 1 !important;
}

.fake-link {
    display: inline-block;
    width: 800px;                
    height: 100px;              
}

hr.dashed {
    background-color: #fff;
    border-top: 2px dashed black;
}

hr.fat {
    border-top: 2px solid black;
}

.bold-underlined {
    font-weight: bold; 
    text-decoration: underline;
}
